body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
  
.login-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    color: #333;
}
  
.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    font-size: 14px;
    color: #555;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
  }
  
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}
  
button {
    width: 100%;
    background-color: #2575fc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
button:hover {
    background-color: #6a11cb;
}
  
.message {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
  
.message a {
    color: #2575fc;
    text-decoration: none;
}
  
.message a:hover {
    text-decoration: underline;
}